<div class="conatiner-fluid router-page">
  <div>
    <a type="button" target="_blank" class="btn btn-danger w-100"  routerLink="/add-edit-webstories">Add New Web-Stories<i class="bi bi-plus-square p-2"></i></a>
</div>
    <div class="mt-2 mb-2">
        <h3 class="text-center">All Stories...</h3>
    </div>
    <div>
        <table class="table">
            <thead class="thead-dark">
              <tr>
                <th scope="col">#</th>
                <th scope="col">Title</th>
                <th scope="col">Added On</th>
                <th scope="col">Status</th>
                <th scope="col">Actions</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <th scope="row">1</th>
                <td>Mark</td>
                <td>Otto</td>
                <td>mdo</td>
                <td>
                    <ul class="d-flex flexStyle">
                        <li>Edit</li>
                        <li>Delete</li>
                        <li>Change Status</li>
                    </ul>
                </td>
              </tr>
              <tr>
                <th scope="row">2</th>
                <td>Jacob</td>
                <td>Thornton</td>
                <td>fat</td>
                <td>
                    <ul class="d-flex flexStyle">
                        <li>Edit</li>
                        <li>Delete</li>
                        <li>Change Status</li>
                    </ul>
                </td>
              </tr>
              <tr>
                <th scope="row">3</th>
                <td>Larry</td>
                <td>the Bird</td>
                <td>twitter</td>
                <td>
                    <ul class="d-flex flexStyle">
                        <li>Edit</li>
                        <li>Delete</li>
                        <li>Change Status</li>
                    </ul>
                </td>
              </tr>
            </tbody>
          </table>
    </div>
</div>