<div class="login-page bg-light">
    <div class="container">
        <div class="row">
            <div class="col-lg-10 offset-lg-1">
                <h3 class="mb-3">Login Now</h3>
                <div class="bg-white shadow rounded">
                    <div class="row">
                        <div class="col-md-7 pe-0">
                            <div class="form-left h-100 py-5 px-5">
                                <form class="row g-4" [formGroup]="loginForm" (ngSubmit)="login()" autocomplete="on">
                                    <div class="col-12">
                                        <label>Username<span class="text-danger">*</span></label>
                                        <div class="input-group">
                                            <div class="input-group-text"><i class="bi bi-person-fill"></i></div>
                                            <input type="text" class="form-control" placeholder="Enter Username"
                                                formControlName="email" required>
                                        </div>
                                        <div class="error"
                                            *ngIf="loginForm.controls.email.touched && loginForm.controls.email.errors?.required">
                                            Please enter email address.!
                                        </div>
                                        <div class="error" *ngIf="loginForm.controls.email.touched && loginForm.controls.email.errors?.email">
                                            Invalid Email !!!!!

                                        </div>
                                    </div>

                                    <div class="col-12">
                                        <label>Password<span class="text-danger">*</span></label>
                                        <div class="input-group">
                                            <div class="input-group-text"><i class="bi bi-lock-fill"></i></div>
                                            <input type="text" class="form-control" placeholder="Enter Password"
                                                formControlName="password" required>
                                        </div>
                                        <div class="error" *ngIf="loginForm.controls.password.touched && loginForm.controls.password.errors?.pattern">
                                            Invalid password combination !!!!
                                        </div>
                                    </div>
                                    <div class="col-12">
                                        <button type="submit" [disabled]="!loginForm.valid"
                                            class="btn btn-primary px-4 mt-4 w-100">login</button>
                                    </div>
                                    
                                    <div class="col-12">
                                        <a href="#" class="float-end text-primary">Forgot Password?</a>
                                    </div>

                                   
                                </form>
                            </div>
                        </div>
                        <div class="col-md-5 ps-0 d-none d-md-block">
                            <div class="form-right h-100 bg-primary text-white text-center">
                                <i class="bi bi-person-fill"></i>
                                <h2 class="fs-1">Welcome To pollerPublic</h2>
                                <h3 class="">Success usually comes to those who are too busy looking for it.</h3>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>