<div class="wrapper d-flex align-items-stretch sidebar_wrapper position-fixed">
    <nav id="sidebar" [ngClass]="{'active': !isSidebarOpen}">
        <div class="p-4 pt-5">
            <a href="#" class="img logo rounded-circle mb-5"
                style="background-image: url(https://img.freepik.com/free-photo/beautiful-girl-stands-near-walll-with-leaves_8353-5377.jpg?w=2000);">
                
            </a>
            <h3 class="username">{{userName}}</h3>
            <ul class="list-unstyled components mb-5">
                <li>
                    <a href="#" routerLink="/summary">Summary</a>
                </li>
                <li>
                    <a href="#"  routerLink="/blogs">Blogs</a>
                </li>
                <li>
                    <a href="#" routerLink="/web-stories">Web-Stories</a>
                </li>
                <li class="active">
                    <a href="#homeSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">Wishing Scripts</a>
                    <ul class="collapse list-unstyled" id="homeSubmenu">
                        <li>
                            <a href="#" routerLink="/occasional">Occasional</a>
                        </li>
                        <!-- <li>
                            <a href="#" routerLink="/festive">Festival</a>
                        </li> -->
                        <li>
                            <a href="#" routerLink="/political">Political</a>
                        </li>
                    </ul>
                </li>
                <!-- <li>
                    <a href="#pageSubmenu" data-toggle="collapse" aria-expanded="false"
                        class="dropdown-toggle">Pages</a>
                    <ul class="collapse list-unstyled" id="pageSubmenu">
                        <li>
                            <a href="#">Page 1</a>
                        </li>
                        <li>
                            <a href="#">Page 2</a>
                        </li>
                        <li>
                            <a href="#">Page 3</a>
                        </li>
                    </ul>
                </li> -->
                <li>
                    <a href="#" routerLink="/users">Manage User</a>
                </li>
                <li>
                    <a href="#" routerLink="/group-joiner">Group Joiner</a>
                </li>
                <li>
                    <a href="#" routerLink="/fancy-text">Fancy Text</a>
                </li>
                <li>
                    <a href="#" routerLink="/categories">Categories</a>
                </li>
            </ul>

            <div class="footer">
                <p><!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                    Copyright &copy;
                     All rights reserved | This template is
                    made with <i class="icon-heart" aria-hidden="true"></i> by <a href="https://pollerPublic.com"
                        target="_blank">pollerPublic.com</a>
                   
            </div>

        </div>
    </nav>
    <!-- <button type="button" id="sidebarCollapse" class="btn btn-primary" data-toggle="collapse" data-target="#sidebar" aria-expanded="false">
        <i class="bi bi-list"><svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-list" viewBox="0 0 16 16">
            <path fill-rule="evenodd" d="M2.5 12a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5z"/>
          </svg></i>
        
        <span class="sr-only"></span>
    </button> -->
</div>