<div class="conatiner-fluid router-page">
    <div>
        <a type="button" target="_blank" class="btn btn-success w-100"  routerLink="/add-edit-blogs">Add New Blog<i class="bi bi-plus-square p-2"></i></a>
    </div>
    <div class="mt-2 mb-2">
        <h3 class="text-center">All Blogs...</h3> 
    </div>
    <div>
        <table class="table">
            <thead class="thead-dark">
              <tr class="text-center">
                <th scope="col">#</th>
                <th scope="col">Title</th>
                <th scope="col">Thumbnail</th>
                <th scope="col">Category</th>
                <th scope="col">Updated On</th>
                <th scope="col">Status</th>
                <th>Author</th>
                <th scope="col">Actions</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let row of receivedData; index as i">
                <!-- {{row | json}} -->
                <th scope="row">{{i+1}}</th>
                <!-- createdAt: 0, updatedAt: 0, -->
                <td>{{row.heading}}</td>
                <td class="thumbnail_img"><img src="{{bucketBaseUrl}}/{{row.thumbnail}}"></td>
                <td>{{row.category}}</td>
                <td>{{row.updatedAt | date}}</td>
                <td [ngClass]="row.status == 'draft' ? 'bg-warning text-center p-5' : 'bg-success text-center p-5'">{{row.status}}</td>
                <td>{{row.authorName}}</td>
                <td>
                    <ul class="d-flex flexStyle">
                        <li routerLink="/add-edit-blogs" target="_blank" (click)="editblog(row)"><i class="bi bi-pencil-square"></i></li>
                        <li (click)="deleteblog(row._id)"><i class="bi bi-trash3-fill"></i></li>
                        <li (click)="changeStatus(row._id, row.status)" *ngIf="row.status=='published'"><i class="bi bi-toggle2-off"></i></li>
                        <li (click)="changeStatus(row._id, row.status)" *ngIf="row.status=='draft'"><i class="bi bi-toggle2-on"></i></li>
                    </ul>
                </td>
              </tr>
            </tbody>
          </table>
    </div>
</div>