.story-text-image{
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    margin: 3% 0%;
    padding: 2%;
}

#story-text, #story-image{
    margin: 2% 0%;
}
.add_more_btn{
    float: right;
    cursor: pointer;
    
}