<div class="conatiner-fluid router-page">
    <div class="row">
        <div class="col col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6">
            <form [formGroup]="webStoryForm"  (ngSubmit)="onSubmit()" enctype="multipart/form-data">
                <div class="mb-3">
                  <label for="Story Heading" class="form-label">Story Heading</label>
                  <input type="text" placeholder="Story Story Heading.." class="form-control" id="title" formControlName="story_heading" >
                </div>
                <div class="mb-3">
                    <label for="category" class="form-label">Category</label>
                    <select  class="form-select mb-3" aria-label=".form-select-lg example"  formControlName="category">
                        <!-- <option *ngFor="let category of categories" [ngValue]=category>{{category}}</option> -->
                        <option>Category</option>
                    </select>
                  </div>
                <div class="mb-3">
                  <label for="metaTags" class="form-label">Meta Keywords</label>
                  <input type="text" class="form-control" id="metaTags" placeholder="Web-stories, political-stories, etc.." formControlName="meta_keywords">
                </div>
                <div class="mb-3">
                    <label for="metadescription" class="form-label">Meta Description</label>
                    <input type="text" class="form-control" id="metadescription" placeholder="Max 160 words.." formControlName="meta_description">
                </div>

                <div class="mb-3 story-text-image" formArrayName="story_details">
                    <label for="story-text" class="form-label">Story Image With Content</label> <span class="add_more_btn" (click)="addMore()"><i class="bi bi-plus-square p-2"></i></span>

                    <div *ngFor="let story of story_details().controls; let i=index" [formGroupName]="i">

                    <span class="add_more_btn" (click)="deleteOne(i)"><i class="bi bi-trash3"></i></span>
                    
                    <input type="text" class="form-control"  id="story-text" placeholder="Story text... " formControlName="story_text">
                    <input type="file" class="form-control" (change)="handleFileInput($event, i)" id="story-image" formControlName="story_image" accept="image/*"> 
                </div>
                </div>

                <button type="submit" class="btn btn-primary w-100" [disabled]="!webStoryForm.valid">Submit</button>
              </form>
        </div>
        <div class="col col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6">
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatem culpa numquam earum suscipit! Quisquam adipisci fuga ullam facere tempore sapiente nisi numquam aliquam eligendi. Labore expedita voluptatem sequi quae accusantium?</p>
        </div>
    </div>
</div>
