<div class="conatiner-fluid router-page">
    <div class="row">
        <div class="col col-sm-12 col-md-6 col-lg-6 col-xl-6">
            <form class="form_data">
                <div class="mb-3">
                    <label for="event" class="form-label">Event</label>
                    <input type="text" class="form-control" id="event" placeholder="eg. UP Election 2024">
                </div>
                <div class="mb-3">
                    <label for="eventType" class="form-label">Event Type</label>
                    <input type="text" class="form-control" id="eventType" value="Political" disabled="true">
                </div>
                <div class="mb-3">
                    <label for="eventTheme" class="form-label">Event Theme</label>
                    <select class="form-select" aria-label="Default select example">
                        <option selected>Click To Select Theme</option>
                        "occassional" === "occassional"
                        <option value="LineDrop">LineDrop</option>
                        <option value="Bubbles">Bubbles</option>
                        <option value="FallingLeaves">FallingLeaves</option>
                        <option value="Others">Others</option>
                    </select>
                </div>

                <div class=" text-center">Event Details</div>

                <div class="mb-3">
                    <label for="expiryDate" class="form-label">Expiry Date</label>
                    <input type="date" class="form-control" id="expirtDate">
                </div>
                <div class="mb-3">
                    <label for="firstwish" class="form-label">First Wish</label>
                    <input type="text" class="form-control" id="firstwish" placeholder="eg. Wihsing you.">
                </div>
                <div class="mb-3">
                    <label for="firstMessage" class="form-label">First Message</label>
                    <textarea class="form-control" id="firstMessage" placeholder="first description text"></textarea>
                </div>
                <div class="mb-3">
                    <label for="secondMessahe" class="form-label">Second Message</label>
                    <textarea class="form-control" id="secondMessahe" placeholder="second description text"></textarea>
                </div>
                <div class="mb-3">
                    <label for="mp3" class="form-label">Mp3 Audio (Optional)</label>
                    <input type="file" class="form-control" id="mp3">
                </div>
                <div class="mb-3">
                    <label for="title" class="form-label">Title</label>
                    <input type="text" class="form-control" id="title" placeholder="eg. title of the event.">
                </div>
                <div class="mb-3">
                    <label for="Description" class="form-label">Description</label>
                    <textarea class="form-control" id="Description" placeholder="eg. short description of the event."></textarea>
                </div>
                <div class="mb-3">
                    <label for="Tags" class="form-label">Tags</label>
                    <textarea class="form-control" id="Tags" placeholder="eg. up-election, loksabha-chunav-2024."></textarea>
                </div>
                <div class="mb-3">
                    <label for="chartdata" class="form-label">Inicail Chart Data</label>
                    <input type="text" class="form-control" id="chartdata" placeholder="eg. 0,0,0,0">
                </div>
                <div class="mb-3">
                    <label for="eventTheme" class="form-label">Chart Type</label>
                <select class="form-select" aria-label="Default select example">
                    <option selected>Click To Select Theme</option>
                    <option value="Pie">Pie</option>
                    <option value="Line">Line</option>
                    <option value="Column">Column</option>
                    <option value="Others">Others</option>
                </select>
                </div>
                <button type="submit" class="btn btn-primary w-100">Submit</button>
            </form>
        </div>
        <div class="col col-sm-12 col-md-6 col-lg-6 col-xl-6">
            <table class="table table-warning">
                <thead>
                  <tr>
                    <th scope="col">#</th>
                    <th scope="col">First</th>
                    <th scope="col">Last</th>
                    <th scope="col">Handle</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <th scope="row">1</th>
                    <td>Mark</td>
                    <td>Otto</td>
                    <td>@mdo</td>
                  </tr>
                </tbody>
              </table>
        </div>
    </div>
</div>